:root
{
    --background-dark-theme: rgb(18,18,19);
    --background-heyboard-tile: rgb(129,131,132);
}

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body
{
    width: 100vw;
    height: 100vh;
    position: relative;
}

header
{
    height: 10%;
    width: 100vw;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    color: white;
    background-color: var(--background-dark-theme);
}

main
{
    height: 100%;
    width: 100vw;
    background-color: var(--background-dark-theme);
}

#app
{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#InputArea
{
    min-height: 550px;
    min-width: 400px;
    background-color: var(--background-dark-theme);
    display: flex;
    justify-content: center;
    align-items: center;
}

#GirdContainer
{
    max-width: 400px;
    max-height: 600px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-between;
    margin-top: -30%;
}

.grid-item
{
    border: 2px solid gray;
    height: 60px;
    width: 60px;
    margin: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-family: 'Libre Franklin', sans-serif;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#keyboard
{
    height: 200px;
    min-width: 500px;
    margin-bottom: 15px;
}

#FirstKeyboardRow
{
    height: 33%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#SecondKeyboardRow
{
    height: 33%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#ThirdKeyboardRow
{
    height: 33%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
}

.KeyboardTile
{
    width: 45px;
    height: 52px;
    background-color: var(--background-heyboard-tile);
    border-radius: 25%;
    margin: 2px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 16px;
    font-size: 18px;
    font-family: 'Libre Franklin', sans-serif;
    color: white;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.WideKeyboardTile
{
    width: 60px;
    height: 55px;
    background-color: var(--background-heyboard-tile);
    border-radius: 25%;
    margin: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 18px;
    font-size: 14px;
    font-family: 'Libre Franklin', sans-serif;
    color: white;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.TileAtWrongPosition
{
    background-color: yellow;
}

.TileAtCorrectPosition
{
    background-color: aquamarine;
}

#ResultPopUp
{
    width: 20vw;
    height: 20vh;
    min-width: 150px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    text-align: center;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;

    color: white;

    transform: translate(40vw, 20vh);
    border-radius: 25px;
    opacity: 0%;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#ResultPopUp button
{
    width: 75%;
    height: 30%;
    min-width: 120px;
    border-radius: 25px;
    border: none;
    outline: none;
    background-color: lightgreen;
    color: black;
    font-size: 22px;
    font-weight: 600;
    margin-top: -25px;
}